html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: LightGray;
}

div {
	border: 1px solid Chocolate;
	padding: 0;
}

.top-navigation {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	
}

.top-navigation .links {
	float: right;
 	font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: .7em;
	margin-left: 2em;
    -webkit-font-smoothing: antialiased;
	
}

.top-navigation .links li{
	display: inline-block;
	margin-left: 1.6em
}

.top-navigation .links > .active {
	color: #4C5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	color:black;
	cursor: pointer;
}

.top-navigation .logo {
	padding: center;

}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.introduction {
	background-image: url ('http://i464.photobucket.com/albums/rr7/Keegan_Ariel/first-background_zpsndjpt9z4.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45rem;
	overflow: auto;
}
}
