
body {
	background-color: LightGray;

	
}

div {
	border: 1px solid Chocolate;
	padding: 0;
}


.top-navigation {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	
}

.top-navigation .links li{
	float: right;
	margin-left: 1.5em;
	display: inline-block;
	margin-top: .7em;
	margin-left: 2em;

}

li:hover {
	color:black;
}

.top-navigation .links > .active {
	color: #4C5058;
	font-weight: 500;
}


}

.top-navigation .logo {
	padding: center;

}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;

}

